html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("../images/bg-1.jpg");
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: .8rem;
}

.app-title {
    font-size: 7rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-bottom: 1rem;
    text-align: center;
    font-family: ui-rounded;
}

.main-row-div{
    height: 75vh;
}

.card-shadow {
    box-shadow: 0px 0px 64px 17px rgba(46,46,46,0.75);
    -webkit-box-shadow: 0px 0px 64px 17px rgba(46,46,46,0.75);
    -moz-box-shadow: 0px 0px 64px 17px rgba(46,46,46,0.75);
}

#sleep-quality-range-value {
    border: 1px dashed #676666;
    padding: .2rem;
    border-radius: 50%;
    width: 30px;
    text-align: center;
}

.app-description-list-item {
    color: #d5d1d1;
    margin-top: 1.2rem;
    font-size: 1rem;
}

.app-description-main-div {
    padding: 0;
    margin: 0;
    /*box-shadow: 44px -21px 56px -12px rgba(110,110,110,0.75);*/
    /*-webkit-box-shadow: 44px -21px 56px -12px rgba(110,110,110,0.75);*/
    /*-moz-box-shadow: 44px -21px 56px -12px rgba(110,110,110,0.75);*/
}

.loader {
    position: relative;
    width: 64px;
    height: 64px;
    background-color: rgba(255, 255, 255, 0.5);
    transform: rotate(45deg);
    overflow: hidden;
}
.loader:after{
    content: '';
    position: absolute;
    inset: 8px;
    margin: auto;
    background: #c0ccd3;
}
.loader:before{
    content: '';
    position: absolute;
    inset: -15px;
    margin: auto;
    background: #2E3A4C;
    animation: diamondLoader 2s linear infinite;
}
@keyframes diamondLoader {
    0%  ,10% {
        transform: translate(-64px , -64px) rotate(-45deg)
    }
    90% , 100% {
        transform: translate(0px , 0px) rotate(-45deg)
    }
}

.loader-main-div {
    display: flex;
    justify-content: center;
    align-items: center
}

.analyzing-your-sleep-text{
    font-size: 1.2rem;
    color: #ffffff;
    text-align: center;
}
